<div class="col-8">
  <h1>User info</h1>
    <p>Name</p>
    <%= @user.name %>
    <%= f.text_field:name %>
  
    <p>Image</p>
  
  
    <p>introduction</p>
      <%= @user.introduction%>



</div>



        