<div class="container d-md-flex">
  <!--部分テンプレート-->
  <div class="template">
    <%= render 'user',user: current_user,book: @book %>
  </div>

  <!--Usersのindex右側-->
  <div class="users-index">
    <h2>Usersのindex</h2>
  </div>
</div>