<div class="container d-md-flex">
  <!--部分テンプレート-->
  <div class="template">
    <%= render 'user',user: current_user,book: @book %>
  </div>

  <!--Usersのindex右側-->
  <div class="col-lg-8 ml-md-5 mt-3">
      <h2>Users</h2>
      <table class="col-12 border-top table-hover">
        <tr class="border-bottom">
          <th class="p-2">image</th>
          <th class="p-2">name</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr class="border-top">
        <td class="p-3"><%= image_tag user.get_profile_image(80,80) %></td>
        <td class="p-3"><%= user.name %></td>
        <td><%= link_to 'show', user_path(user.id) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>