<div class="container d-md-flex">
  <!--部分テンプレート-->
  <div class="template">
    <%= render 'user',user: @user, book: @book %>
  </div>

  <!--Usersのshow右側-->
  <div class="users-show">
    <h2>Usersのshow画面</h2>
  </div>
</div>
