<div class="container d-flex">
  <div class="template">
  <%= render 'users/user', user: current_user %>
  </div>
    <div class="col-lg-8 border ml-5 mt-3">
      <h2 class="border-bottom">Books</h2>
      <table class="col-12">
        <tr class="border-bottom">
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
          <td><%= image_tag user.get_profile_image(200,200) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
</div>
