
<div class="container d-md-flex">
  <!--部分テンプレート-->
  <div class="template">
  <%= render 'users/user', user: @user, book: @book %>
  </div>
  <!--Booksのshow右側-->
    <div class="col-lg-8 ml-5 mt-3">
      <h2>Book detail</h2>
      <table class="col-12 border-top">
      <tr>
        <td class="d-flex">
          <%# @books.each do |book| %> 
            <%#= link_to user_path do %>
          <%# end %>
        </td>
        <td>タイトル</td>
        <td>説明</td>
        <td>Edit(current_userのみ)</td>
        <td>Destroy(current_userのみ)</td>
      </tr>
    </table>

</div>
