<div class="container p-3">
  <div class="col-11 mx-auto">
  <h1>welcome to <i class="fa-solid fa-book"></i><b>Bookers</b>!!</h1>

  <p>In <i class="fa-solid fa-book"></i>Bookers,</p>

  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
    <!--ログインボタン-->
    <div class="top-btn d-flex justify-content-center">
      <%= link_to 'Log in',new_user_session_path, class: 'bg-info text-white btn mt-1 col-10 mx-auto link-info' %>
    </div>
    <!--サインアップボタン-->
    <div class="top-btn d-flex justify-content-center">
      <%= link_to 'Sign up',new_user_registration_path, class: 'bg-success text-white btn mt-3 col-10 mx-auto link-success' %>
    </div>
    
    
    
    
  </div>
</div>

